---
title: Assets
---

<svelte:head>
	<title>{title} - Die Zeit Design System</title>
</svelte:head>


<script lang="ts">
	import { BrandAssetsGrid } from '$components/ui/brand-assets';

	const { data } = $props();
	const { brandAssets } = data;
</script>



# {title}


<BrandAssetsGrid {brandAssets} />
