<script lang="ts">
	import { IconGridWithSearch } from '$components/ui/icons';
	
	const { data } = $props();
	const { icons } = data;
</script>

<svelte:head>
	<title>Icons - Die Zeit Design System</title>
</svelte:head>

# Icons

Hier findest du ein paar Iconchen vom Design System.

<IconGridWithSearch {icons} />