---
title: KI-Guidelines
---

<svelte:head>
	<title>{title} - Die Zeit Design System</title>
</svelte:head>

# {title}

Die kontinuierliche Weiterentwicklung von KI-gesteuerten Technologien und die daraus resultierende Generierung von Inhalten eröffnen neue Möglichkeiten für die Markenkommunikation der Lufthansa Group. Um diesen Fortschritt voll auszuschöpfen und gleichzeitig unseren Kernwerten treu zu bleiben, verpflichten wir uns zu unseren KI-Prinzipien.

## Prinzipien

#### Von Werten geleitet, auf Vertrauen aufgebaut

Unsere KI-Anwendungen zeichnen sich durch Sorgfalt, Transparenz, Weltoffenheit und Exzellenz aus, wobei Vertrauen im Mittelpunkt jeder KI-Initiative steht.

#### Transparenz durch Klarheit und Integrität

Wir verpflichten uns zu Transparenz, indem wir offen über unseren Einsatz von KI sprechen, genaue Informationen und authentische Bilder bereitstellen und gleichzeitig Verantwortung für Integrität übernehmen.

#### Respekt für Vielfalt durch korrekte Darstellung

Wir respektieren die kulturelle Vielfalt und Einzigartigkeit aller Reiseziele weltweit, indem wir jegliche Verzerrung durch künstliche Intelligenz vermeiden und sicherstellen, dass Bilder, Sprache und Interaktionen korrekt und respektvoll gegenüber allen Menschen und Orten sind.

#### Exzellenz: Die Basis für Vertrauen

Wir streben nach Exzellenz in allen unseren Produkten, Dienstleistungen und Kommunikationsmitteln, um uns als zuverlässiger und vertrauenswürdiger Partner zu etablieren.

#### Rechtlicher Hinweis

Sämtliche konzernbezogenen Daten, einschließlich personenbezogener Daten und Inhalte sind streng vertraulich zu behandeln und dürfen keinesfalls durch Generativer KI erfasst oder anderweitig verarbeitet werden. Dies beinhaltet unter anderem alle von der Lufthansa Group zur Verfügung gestellten Bild-, Illustrations- und Videodateien (Brand Hub, Media Lounge etc.). Die Nutzung von Freeware ist nicht gestattet. Verstöße gegen diese Regelungen können rechtliche Konsequenzen nach sich ziehen.
Für die Freigabe von KI-generiertem Bildmaterial für die externe Kommunikation erfolgt über den Design Support.

---

## Markentreue

Unser Ziel ist es, die Identität der Konzernmarke sowie die damit verbundenen Werte und Haltungen nachhaltig zu schützen. Dabei ist es von entscheidender Bedeutung, dass unsere Designprinzipien, die auf den identitätsstiftenden und charakteristischen Merkmalen der Marke basieren, ihre Konsistenz bewahren.
Lufthansa Group Markenelemente – Nicht veränderbar 

Das charakteristische Erscheinungsbild der Lufthansa Group bleibt unverändert bestehen. Zentrale Markenelemente wie  Logos, Icons, Illustrationen, Schrift und Bildsprache bilden das visuelle Fundament der Marke und werden daher nicht durch KI-generierte Gestaltung verändert.

#### Logos
Interne Logos innerhalb der Markenarchitektur der Lufthansa Group sind entscheidend für die Identität der Marke und können nicht durch generative Technologien erstellt oder verändert werden.

#### Schriften
Die Hausschrift der Lufthansa Group ist prägend für das Markenbild und darf nicht transformiert oder durch andere Schriften ersetzt werden.

#### Icons
Es dürfen nur markenkonforme Icons aus der Bibliothek verwendet werden. Die Bibliothek enthält mehr als 1000 Objekte.

#### Illustration
Der modulare Illustrationsstil sollte gewahrt werden. Illustrationen können aus der Library entnommen werden. Für eine gewünschte inhaltliche Ausgestaltungen steht der Design Support zur Seite.

#### Bildsprache
Für den Gebrauch von markengerechtem Bildmaterial steht eine umfangreiche Auswahl in der Library zum Download zur Verfügung.

---

## KI-Kennzeichnung

Alle KI-generierten Inhalte, einschließlich Text, Bilder und Videos, müssen klar als solche gekennzeichnet werden, um Transparenz zu gewährleisten. Die Kennzeichnung sollte leicht erkennbar sein und auf allen KI-generierten Materialien angebracht werden. Dabei wird zwischen indirekter und direkter Kennzeichnung unterschieden.

Indirekte Kennzeichnung sind textliche Hinweise im Disclaimer und Impressum eines digitalen Mediums (Website, Newsletter, Intranet, Präsentationen), eines Printmediums (Broschüren, Werbematerial) und eines Videoformats.

Direkte Kennzeichnung sind textliche Hinweise und Wasserzeichen, die in unmittelbarer Nähe von KI-generierten Inhalten platziert werden (Bildunterschrift, Begleittext, Bildmotiv). Wenn es technisch möglich ist, kann die Kennzeichnung in erster Linie als textlicher Hinweis verwendet werden.
 
Beide Formen werden vor allem in der internen und externen Kommunikation der Lufthansa Group eingesetzt.

_Als Eigentümer dieser [Website / Newsletter / Präsentation] erkennen wir an, dass einige Inhalte mit generativer KI erstellt wurden._

##### Indirekte textliche Kennzeichnung
Beispiel für einen textlichen Hinweis im Disclaimer oder Impressum.

_Dieser [Text / Bild / Video] wurde mit generativer KI erstellt._

##### Direkte textliche Kennzeichnung
Beispiel für einen textlichen Hinweis in der Bildunterschrift und im Begleittext.

##### Direkte visuelle Kennzeichnung
Beispiel eines Wasserzeichens auf einem Bild.

---

## KI-generierter Text
Die Markenidentität der Lufthansa Group erfordert neben den visuellen Merkmalen auch einen bewussten und konsistenten Umgang mit der Sprache. Ziel ist es, in den Publikationen der Lufthansa Group eine einheitliche Sprache in Bezug auf Terminologie, Rechtschreibung und Tonalität zu erreichen. Beim Einsatz von generativer KI sind die Sprachregelungen für den Umgang mit der Marke Lufthansa Group zu beachten.

#### Rechtlicher Hinweis

Aus rechtlicher Sicht ist es wichtig zu beachten, dass bei der Erstellung von Texten mit Hilfe von generativer KI keine konzernbezogenen Informationen verwendet werden dürfen, mit Ausnahme des unten genannten Lufthansa Group ChatGPT.

Der Einsatz unternehmensinterner KI-gestützter Tools zur Texterstellung kann dazu beitragen, das Risiko der Weitergabe vertraulicher Informationen an externe Parteien zu minimieren. KI-gestützte Texterstellung kann die Effizienz und Produktivität steigern.

Um eine echte und authentische Kommunikation zu gewährleisten, sollten in allen Fällen echte Sprecher für die Erzählung
verwendet werden. Dadurch wird die Integrität des Inhalts gewahrt und sichergestellt, dass die gesamte Kommunikation glaubwürdig und menschenzentriert ist.
KI-generierte Bilder und Bewegtbilder (Film)

##### Allgemeine Freigaberegelung

* Die Erstellung von KI-generierten Bildern und Bewegtbildern für die externe Kommunikation erfolgt ausschließlich über den Design Support. Bei der Unterstützung durch eine externe Agentur muss diese das zu veröffentlichte KI-generierte Material durch den Design Support freigeben lassen.
* Die Erstellung von KI-generierten Bildern für die interne Kommunikation, wie Präsentationen, Sitzungen und Workshops, kann unter Berücksichtigung der Guidelines intern erfolgen.

##### Bild- und Videoinhalte 

* Bilder und Videos dürfen keine konkreten Details realer Personen, Orte oder Objekte enthalten. Sie können dazu beitragen, eine atmosphärische Stimmung zu vermitteln, während die klare und ruhige Bildsprache der Lufthansa Group gewahrt wird.
* Bild- und Videoabstraktion – keine Darstellung konkreter und erkennbarer Inhalte von Personen, Orten oder Objekten
* Detailtreue und Realismus – für fotorealistische Darstellungen müssen Genauigkeit und Detailgenauigkeit gewährleistet sein
* Keine Darstellung identifizierbarer Personen – die Darstellung identifizierbarer Personen ist unzulässig
* Keine Darstellung von Flugzeugen oder technischen Details des Exterieurs und Interieurs – die Darstellung solcher Details ist unzulässig