---
title: Animation
---
<script lang="ts">
	import VideoPlayer from '$components/ui/videoplayer/VideoPlayer.svelte';
</script>

<svelte:head>
	<title>{title} - Die Zeit Design System</title>
</svelte:head>

# {title}

DIE ZEIT ist in bewegter Form flüssig, optimistisch und unverkünstelt. 
Logos, Titel oder Bauchbinden erscheinen nicht aus dem Nichts oder faden ein und aus, sondern bauen sich fließend auf und ab.

<VideoPlayer 
	src="../../assets/brand/animation/img/motion.mp4"
/>